In [3]:
import pandas as pd
import numpy as np

In [4]:
!python --version

Python 3.9.7

In [5]:
# dir(pd)

In [6]:
#stores1 = pd.read_excel(r"C:\Users\ddp17\OneDrive\Desktop\New folder\Retail_data.xlsx" , sheet_name = 'storesdata')

In [7]:
# df1 = pd.read_excel("D:/01_EXCELR/02_Deep Learning & AI/Day1/Part 2/Retail_data.csv")

In [8]:
stores = pd.read_excel("./Retail_data.xlsx", sheet_name = 'storesdata')

In [9]:
stores

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [10]:
type(stores)

pandas.core.frame.DataFrame

In [11]:
# DataFrame is a datastructure to store the data in 2D format i.e. rows and columns
# Each row called as record
# Each columns called as features/variables

In [12]:
# Variables in Python
# 1. Qualitative\Categorical
#     1.1 Nominal, Can not be sorted (Red, Green, Yellow)
#     1.2 Ordinal, Can be sorted (Low, Medium, High)
# 2. Continuous\Numeric [-infinity < n < +infinity]
#     2.1 Discrete - Finite posibility (No of child in a family)
#     2.2 Continuous - Infinite posibility (Age of a person)

In [13]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Code                                    29 non-null     float64
 1   StoreType                               34 non-null     object
 2   OperatingCost                           34 non-null     float64
 3   Total_Sales                             34 non-null     int64
 4   Total_Customers                         34 non-null     int64
 5   Segment                                 34 non-null     int64
 6   Total number of estb                    34 non-null     int64
 7   Product line sales as % of total sales  34 non-null     float64
dtypes: float64(3), int64(4), object(1)
memory usage: 2.3+ KB

In [14]:
stores.columns

Index(['Code', 'StoreType', 'OperatingCost', 'Total_Sales', 'Total_Customers',
       'Segment', 'Total number of estb',
       'Product line sales as % of total sales'],
      dtype='object')

In [15]:
stores

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [16]:
stores[['StoreType', 'Total_Sales', 'Segment']]

       StoreType  Total_Sales  Segment
0   Electronincs   2179474632        4
1        Apparel      5037027        4
2   Super Market   1437362017        1
3   Super Market   1495953548        1
4   Super Market   1883321582        2
5        Apparel   1420570094        1
6        Apparel   1374569510        4
7   Electronincs   1094166173        2
8   Electronincs   1182772215        2
9        Apparel    891982615        4
10  Super Market    427475654        4
11  Super Market   1101543654        3
12  Super Market    397305098        3
13       Apparel    960625804        3
14       Apparel    665220823        4
15  Electronincs   1070859930        4
16  Electronincs    755438818        4
17       Apparel    953515932        1
18  Super Market    962715247        2
19  Super Market    660175220        1
20  Super Market    672255327        1
21       Apparel   1333254147        2
22       Apparel    877566947        2
23  Electronincs    812748470        4
24  Electronincs    766522079        2
25       Apparel   1099171980        1
26  Super Market    711375353        2
27  Super Market    886631610        2
28  Super Market     22212234        4
29       Apparel    393363810        4
30       Apparel   1115016252        4
31  Electronincs   1237304404        2
32       Apparel   1115016252        4
33  Electronincs   1237304404        2

In [17]:
### method 1
## use dot operator

stores.StoreType

0     Electronincs
1          Apparel
2     Super Market
3     Super Market
4     Super Market
5          Apparel
6          Apparel
7     Electronincs
8     Electronincs
9          Apparel
10    Super Market
11    Super Market
12    Super Market
13         Apparel
14         Apparel
15    Electronincs
16    Electronincs
17         Apparel
18    Super Market
19    Super Market
20    Super Market
21         Apparel
22         Apparel
23    Electronincs
24    Electronincs
25         Apparel
26    Super Market
27    Super Market
28    Super Market
29         Apparel
30         Apparel
31    Electronincs
32         Apparel
33    Electronincs
Name: StoreType, dtype: object

In [18]:
### method 2
## use []

stores['Segment']

0     4
1     4
2     1
3     1
4     2
5     1
6     4
7     2
8     2
9     4
10    4
11    3
12    3
13    3
14    4
15    4
16    4
17    1
18    2
19    1
20    1
21    2
22    2
23    4
24    2
25    1
26    2
27    2
28    4
29    4
30    4
31    2
32    4
33    2
Name: Segment, dtype: int64

In [19]:
stores[['Segment','Total_Sales']]

    Segment  Total_Sales
0         4   2179474632
1         4      5037027
2         1   1437362017
3         1   1495953548
4         2   1883321582
5         1   1420570094
6         4   1374569510
7         2   1094166173
8         2   1182772215
9         4    891982615
10        4    427475654
11        3   1101543654
12        3    397305098
13        3    960625804
14        4    665220823
15        4   1070859930
16        4    755438818
17        1    953515932
18        2    962715247
19        1    660175220
20        1    672255327
21        2   1333254147
22        2    877566947
23        4    812748470
24        2    766522079
25        1   1099171980
26        2    711375353
27        2    886631610
28        4     22212234
29        4    393363810
30        4   1115016252
31        2   1237304404
32        4   1115016252
33        2   1237304404

In [20]:
stores

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [21]:
stores['Rank'] = stores['OperatingCost'].rank()
stores

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,20.5
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7,20.5
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9,26.5
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6,23.0
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7,16.0
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5,15.0
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4,4.0
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9,28.0
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3,26.5
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2,17.5
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8,14.0
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8,12.0
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5,13.0
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3,8.5
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6,1.5
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3,1.5
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2,5.0
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9,33.0
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4,31.5
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1,34.0
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1,25.0
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3,10.0
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8,8.5
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1,3.0
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1,17.5
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0,30.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0,29.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4,31.5
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2,11.0
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2,19.0
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4,23.0
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4,23.0

In [22]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,20.5
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7,20.5
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9,26.5
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6,23.0
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7,16.0

In [23]:
stores.tail()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2,19.0
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4,23.0
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4,23.0

In [24]:
stores.columns

Index(['Code', 'StoreType', 'OperatingCost', 'Total_Sales', 'Total_Customers',
       'Segment', 'Total number of estb',
       'Product line sales as % of total sales', 'Rank'],
      dtype='object')

In [25]:
stores.columns.to_list()

['Code',
 'StoreType',
 'OperatingCost',
 'Total_Sales',
 'Total_Customers',
 'Segment',
 'Total number of estb',
 'Product line sales as % of total sales',
 'Rank']

In [26]:
# Shape of DF [Rows, colm]
stores.shape

(34, 9)

In [27]:
stores.shape[0] # Rows

34

In [28]:
stores.shape[1] # Columns

9

In [29]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Code                                    29 non-null     float64
 1   StoreType                               34 non-null     object
 2   OperatingCost                           34 non-null     float64
 3   Total_Sales                             34 non-null     int64
 4   Total_Customers                         34 non-null     int64
 5   Segment                                 34 non-null     int64
 6   Total number of estb                    34 non-null     int64
 7   Product line sales as % of total sales  34 non-null     float64
 8   Rank                                    34 non-null     float64
dtypes: float64(4), int64(4), object(1)
memory usage: 2.5+ KB

In [30]:
stores.Segment

0     4
1     4
2     1
3     1
4     2
5     1
6     4
7     2
8     2
9     4
10    4
11    3
12    3
13    3
14    4
15    4
16    4
17    1
18    2
19    1
20    1
21    2
22    2
23    4
24    2
25    1
26    2
27    2
28    4
29    4
30    4
31    2
32    4
33    2
Name: Segment, dtype: int64

In [31]:
stores['Segment']

0     4
1     4
2     1
3     1
4     2
5     1
6     4
7     2
8     2
9     4
10    4
11    3
12    3
13    3
14    4
15    4
16    4
17    1
18    2
19    1
20    1
21    2
22    2
23    4
24    2
25    1
26    2
27    2
28    4
29    4
30    4
31    2
32    4
33    2
Name: Segment, dtype: int64

In [32]:
stores[['Code', 'StoreType' , 'Segment']]

    Code     StoreType  Segment
0    1.0  Electronincs        4
1    2.0       Apparel        4
2    3.0  Super Market        1
3    4.0  Super Market        1
4    NaN  Super Market        2
5    6.0       Apparel        1
6    7.0       Apparel        4
7    8.0  Electronincs        2
8    9.0  Electronincs        2
9   10.0       Apparel        4
10  11.0  Super Market        4
11  12.0  Super Market        3
12  13.0  Super Market        3
13  14.0       Apparel        3
14  15.0       Apparel        4
15   NaN  Electronincs        4
16  17.0  Electronincs        4
17  18.0       Apparel        1
18  19.0  Super Market        2
19  20.0  Super Market        1
20  21.0  Super Market        1
21   NaN       Apparel        2
22  23.0       Apparel        2
23  24.0  Electronincs        4
24  25.0  Electronincs        2
25  26.0       Apparel        1
26   NaN  Super Market        2
27   NaN  Super Market        2
28  29.0  Super Market        4
29  30.0       Apparel        4
30  31.0       Apparel        4
31  32.0  Electronincs        2
32  31.0       Apparel        4
33  32.0  Electronincs        2

In [33]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,20.5
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7,20.5
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9,26.5
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6,23.0
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7,16.0

In [34]:
stores

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,20.5
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7,20.5
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9,26.5
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6,23.0
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7,16.0
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5,15.0
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4,4.0
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9,28.0
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3,26.5
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2,17.5
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8,14.0
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8,12.0
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5,13.0
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3,8.5
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6,1.5
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3,1.5
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2,5.0
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9,33.0
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4,31.5
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1,34.0
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1,25.0
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3,10.0
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8,8.5
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1,3.0
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1,17.5
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0,30.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0,29.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4,31.5
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2,11.0
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2,19.0
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4,23.0
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4,23.0

In [35]:
stores['StoreType'].value_counts()

Apparel         13
Super Market    12
Electronincs     9
Name: StoreType, dtype: int64

In [36]:
stores.Segment.value_counts()

4    13
2    11
1     7
3     3
Name: Segment, dtype: int64

In [37]:
stores['Segment'].unique()

array([4, 1, 2, 3], dtype=int64)

In [38]:
stores['StoreType'].unique()

array(['Electronincs', 'Apparel', 'Super Market'], dtype=object)

### Data Structures
* 1. List --- []
* 2. Tuple --- ()
* 3. Set--- {}
* 4. Dictionary --- {'key1': '', 'value': ''}
* 5. DataFrame ---

In [39]:
stores['StoreType'].dtypes

dtype('O')

In [40]:
stores['Segment'].dtypes

dtype('int64')

In [41]:
stores.dtypes.value_counts()

float64    4
int64      4
object     1
dtype: int64

In [42]:
stores.columns

Index(['Code', 'StoreType', 'OperatingCost', 'Total_Sales', 'Total_Customers',
       'Segment', 'Total number of estb',
       'Product line sales as % of total sales', 'Rank'],
      dtype='object')

In [43]:
stores.head(2)

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,20.5
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7,20.5

In [44]:
stores.describe()

,Code,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank
count,29.0000,34.000000,3.400000e+01,34.000000,34.000000,34.000000,34.000000,34.000000
mean,17.0000,19.979412,9.764656e+08,151.117647,2.647059,113049.647059,7.785294,17.500000
std,9.9391,5.911611,4.553365e+08,74.252136,1.203086,78910.801558,10.897042,9.949874
min,1.0000,10.400000,5.037027e+06,52.000000,1.000000,2515.000000,0.800000,1.500000
25%,9.0000,15.275000,7.223912e+08,99.000000,2.000000,54459.750000,2.925000,8.875000
50%,17.0000,19.200000,9.616705e+08,123.000000,2.000000,99583.000000,5.300000,17.500000
75%,25.0000,22.475000,1.223671e+09,180.000000,4.000000,157897.500000,6.775000,26.125000
max,32.0000,33.900000,2.179475e+09,335.000000,4.000000,361300.000000,59.200000,34.000000

In [45]:
#stores.Segment

#stores['Segment']

In [46]:
stores.mean()

C:\Users\Divya\AppData\Local\Temp\ipykernel_11812\4125046902.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  stores.mean()

Code                                      1.700000e+01
OperatingCost                             1.997941e+01
Total_Sales                               9.764656e+08
Total_Customers                           1.511176e+02
Segment                                   2.647059e+00
Total number of estb                      1.130496e+05
Product line sales as % of total sales    7.785294e+00
Rank                                      1.750000e+01
dtype: float64

In [47]:
stores.Total_Sales.mean()

976465554.7647059

In [48]:
stores.Total_Sales.median()

961670525.5

In [49]:
stores.Total_Sales.mean() , stores.Total_Sales.median() , stores.Total_Sales.min(),  stores.Total_Sales.max()

(976465554.7647059, 961670525.5, 5037027, 2179474632)

In [50]:
stores.Total_Customers.dtypes

dtype('int64')

In [51]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,20.5
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7,20.5
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9,26.5
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6,23.0
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7,16.0

In [58]:
# loc gets rows (and/or columns) with particular labels.
     ## loc returns records from [start to end] index

# iloc gets rows (and/or columns) at integer locations
    ## iloc returns records from [start to end - 1] index

## loc[ rows, columns]
## loc[logic, 1:5]


stores.loc[ : ,"StoreType"]

0     Electronincs
1          Apparel
2     Super Market
3     Super Market
4     Super Market
5          Apparel
6          Apparel
7     Electronincs
8     Electronincs
9          Apparel
10    Super Market
11    Super Market
12    Super Market
13         Apparel
14         Apparel
15    Electronincs
16    Electronincs
17         Apparel
18    Super Market
19    Super Market
20    Super Market
21         Apparel
22         Apparel
23    Electronincs
24    Electronincs
25         Apparel
26    Super Market
27    Super Market
28    Super Market
29         Apparel
30         Apparel
31    Electronincs
32         Apparel
33    Electronincs
Name: StoreType, dtype: object

In [52]:
stores.loc[ 0:5  ,  ['StoreType', 'OperatingCost']]

      StoreType  OperatingCost
0  Electronincs           21.0
1       Apparel           21.0
2  Super Market           22.8
3  Super Market           21.4
4  Super Market           18.7
5       Apparel           18.1

In [60]:
stores

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [59]:
stores.iloc[0:5,0:7]

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb
0,1.0,Electronincs,21.0,2179474632,110,4,361300
1,2.0,Apparel,21.0,5037027,110,4,2515
2,3.0,Super Market,22.8,1437362017,93,1,200112
3,4.0,Super Market,21.4,1495953548,110,1,229623
4,NaN,Super Market,18.7,1883321582,175,2,270472

In [61]:
stores.iloc[1:3,1:4]

      StoreType  OperatingCost  Total_Sales
1       Apparel           21.0      5037027
2  Super Market           22.8   1437362017

In [64]:
stores.iloc[[1,2,10,11] , [0,1,5]]

    Code     StoreType  Segment
1    2.0       Apparel        4
2    3.0  Super Market        1
10  11.0  Super Market        4
11  12.0  Super Market        3

### sample example of loc & iloc

In [44]:
s1 = pd.Series([2434,56778,1234,"A","C"], index=[49, 48, 47, 0, 1])
s1

49     2434
48    56778
47     1234
0         A
1         C
dtype: object

In [45]:
s1.loc[0]

'A'

In [46]:
s1.iloc[0]

2434

In [70]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7

In [54]:
### Renaming of columns

# df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})

stores1 = stores.rename(columns={"Code":"Store_Code" , "OperatingCost":"Op_Cost"})
stores1.head()

,Store_Code,StoreType,Op_Cost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,20.5
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7,20.5
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9,26.5
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6,23.0
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7,16.0

In [55]:
#stores1.to_excel('rename_output.xlsx')

In [50]:
#stores1.to_csv('rename_output1.csv')

In [73]:
stores

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [78]:
### adding new col.
### method 1
stores['sales_per_cust_11'] = stores.Total_Sales / stores.Total_Customers

#df['new_col'] = df.col1 + df.col2

In [79]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,sales_per_cust_11,sales_per_cust1,sales_per_cust_22
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,1.981341e+07,1.981341e+07,2179474742
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7,4.579115e+04,4.579115e+04,5037137
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9,1.545551e+07,1.545551e+07,1437362110
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6,1.359958e+07,1.359958e+07,1495953658
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7,1.076184e+07,1.076184e+07,1883321757

In [76]:
### method 2

stores = stores.assign(sales_per_cust1 = stores.Total_Sales / stores.Total_Customers , sales_per_cust_22 = stores.Total_Sales + stores.Total_Customers)

In [77]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,sales_per_cust_11,sales_per_cust1,sales_per_cust_22
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,1.981341e+07,1.981341e+07,2179474742
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7,4.579115e+04,4.579115e+04,5037137
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9,1.545551e+07,1.545551e+07,1437362110
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6,1.359958e+07,1.359958e+07,1495953658
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7,1.076184e+07,1.076184e+07,1883321757

In [55]:
## where condition

## where(logic,T,F)

x = -10
print(np.where(x > 0, "positive","neg"))

neg

In [56]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank,sales_per_cust_11,sales_per_cust1,sales_per_cust_22
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3,1.5,4.980744e+06,4.980744e+06,1070860145
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6,1.5,3.244980e+06,3.244980e+06,665221028
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1,3.0,3.317341e+06,3.317341e+06,812748715
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4,4.0,5.610488e+06,5.610488e+06,1374569755
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2,5.0,3.284517e+06,3.284517e+06,755439048

In [57]:
### binning - converting a continuous variable into categorical var.

stores['stores_level'] = np.where(stores['Total number of estb']<10000, 'Low',
                                  
                                  np.where((stores['Total number of estb']>=10000)  & (stores['Total number of estb']<30000),
                                           
                                           'Medium', 'High'))

In [58]:
stores.head(20)

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank,sales_per_cust_11,sales_per_cust1,sales_per_cust_22,stores_level
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3,1.5,4.980744e+06,4.980744e+06,1070860145,High
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6,1.5,3.244980e+06,3.244980e+06,665221028,High
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1,3.0,3.317341e+06,3.317341e+06,812748715,High
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4,4.0,5.610488e+06,5.610488e+06,1374569755,High
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2,5.0,3.284517e+06,3.284517e+06,755439048,High
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5,3.328407e+06,3.328407e+06,1115016587,High
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5,3.328407e+06,3.328407e+06,1115016587,High
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3,8.5,5.336810e+06,5.336810e+06,960625984,High
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8,8.5,5.850446e+06,5.850446e+06,877567097,High
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3,10.0,8.888361e+06,8.888361e+06,1333254297,High
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2,11.0,8.413725e+04,8.413725e+04,22212498,Low
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8,12.0,6.119687e+06,6.119687e+06,1101543834,High
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5,13.0,2.207251e+06,2.207251e+06,397305278,Medium
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8,14.0,3.475412e+06,3.475412e+06,427475777,High
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5,15.0,1.352924e+07,1.352924e+07,1420570199,High
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7,16.0,1.076184e+07,1.076184e+07,1883321757,High
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1,17.5,4.380126e+06,4.380126e+06,766522254,High
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2,17.5,7.251891e+06,7.251891e+06,891982738,High
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2,19.0,2.247793e+06,2.247793e+06,393363985,Medium
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,20.5,1.981341e+07,1.981341e+07,2179474742,High

In [59]:
### filter records based on given conditions..

In [60]:
# Applying conditions on a dataframe using loc[,]

stores.loc[stores.StoreType == "Super Market" , ["StoreType","OperatingCost"]]

       StoreType  OperatingCost
28  Super Market           15.8
11  Super Market           16.4
12  Super Market           17.3
10  Super Market           17.8
4   Super Market           18.7
3   Super Market           21.4
20  Super Market           21.5
2   Super Market           22.8
26  Super Market           26.0
18  Super Market           30.4
27  Super Market           30.4
19  Super Market           33.9

In [61]:
stores.loc[(stores.OperatingCost > 20) , ["StoreType","OperatingCost"]]

       StoreType  OperatingCost
0   Electronincs           21.0
1        Apparel           21.0
3   Super Market           21.4
31  Electronincs           21.4
33  Electronincs           21.4
20  Super Market           21.5
8   Electronincs           22.8
2   Super Market           22.8
7   Electronincs           24.4
26  Super Market           26.0
25       Apparel           27.3
18  Super Market           30.4
27  Super Market           30.4
17       Apparel           32.4
19  Super Market           33.9

In [62]:
stores.loc[((stores.OperatingCost > 20) & (stores.OperatingCost < 30)) , ["StoreType","OperatingCost"]]

       StoreType  OperatingCost
0   Electronincs           21.0
1        Apparel           21.0
3   Super Market           21.4
31  Electronincs           21.4
33  Electronincs           21.4
20  Super Market           21.5
8   Electronincs           22.8
2   Super Market           22.8
7   Electronincs           24.4
26  Super Market           26.0
25       Apparel           27.3

In [63]:
stores.loc[(stores.StoreType == "Super Market")|(stores.StoreType == "Electronincs") , ["StoreType","OperatingCost"]]

       StoreType  OperatingCost
15  Electronincs           10.4
23  Electronincs           13.3
16  Electronincs           14.7
28  Super Market           15.8
11  Super Market           16.4
12  Super Market           17.3
10  Super Market           17.8
4   Super Market           18.7
24  Electronincs           19.2
0   Electronincs           21.0
3   Super Market           21.4
31  Electronincs           21.4
33  Electronincs           21.4
20  Super Market           21.5
8   Electronincs           22.8
2   Super Market           22.8
7   Electronincs           24.4
26  Super Market           26.0
18  Super Market           30.4
27  Super Market           30.4
19  Super Market           33.9

In [64]:
stores.loc[(stores.OperatingCost < 30) & (stores.StoreType == "Super Market") , ["StoreType","OperatingCost"]]

       StoreType  OperatingCost
28  Super Market           15.8
11  Super Market           16.4
12  Super Market           17.3
10  Super Market           17.8
4   Super Market           18.7
3   Super Market           21.4
20  Super Market           21.5
2   Super Market           22.8
26  Super Market           26.0

### understand below code and output

In [65]:
stores.loc[((stores.OperatingCost > 20) & (stores.OperatingCost < 30)) & ((stores.StoreType == "Super Market")|(stores.StoreType == "Electronincs") | (stores.StoreType == "Apparel")) , ["StoreType","OperatingCost"]]

       StoreType  OperatingCost
0   Electronincs           21.0
1        Apparel           21.0
3   Super Market           21.4
31  Electronincs           21.4
33  Electronincs           21.4
20  Super Market           21.5
8   Electronincs           22.8
2   Super Market           22.8
7   Electronincs           24.4
26  Super Market           26.0
25       Apparel           27.3

In [65]:
### sort the df

Sort2 = stores.sort_values(by = "OperatingCost")
Sort2

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1

In [66]:
Sort2.iloc[ 0:3 , 2:5 ]

    OperatingCost  Total_Sales  Total_Customers
15           10.4   1070859930              215
14           10.4    665220823              205
23           13.3    812748470              245

In [67]:
Sort2 = stores.sort_values(by = "OperatingCost", ascending=False)
Sort2

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank,sales_per_cust_11,sales_per_cust1,sales_per_cust_22,stores_level
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1,34.0,1.015654e+07,1.015654e+07,660175285,High
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9,33.0,1.444721e+07,1.444721e+07,953515998,High
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4,31.5,7.846297e+06,7.846297e+06,886631723,High
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4,31.5,1.851375e+07,1.851375e+07,962715299,High
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0,30.0,1.665412e+07,1.665412e+07,1099172046,High
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0,29.0,7.817312e+06,7.817312e+06,711375444,High
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9,28.0,1.764784e+07,1.764784e+07,1094166235,High
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9,26.5,1.545551e+07,1.545551e+07,1437362110,High
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3,26.5,1.245023e+07,1.245023e+07,1182772310,High
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1,25.0,6.930467e+06,6.930467e+06,672255424,High
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4,23.0,1.135142e+07,1.135142e+07,1237304513,High
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4,23.0,1.135142e+07,1.135142e+07,1237304513,High
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6,23.0,1.359958e+07,1.359958e+07,1495953658,High
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7,20.5,4.579115e+04,4.579115e+04,5037137,Low
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,20.5,1.981341e+07,1.981341e+07,2179474742,High
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2,19.0,2.247793e+06,2.247793e+06,393363985,Medium
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2,17.5,7.251891e+06,7.251891e+06,891982738,High
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1,17.5,4.380126e+06,4.380126e+06,766522254,High
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7,16.0,1.076184e+07,1.076184e+07,1883321757,High
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5,15.0,1.352924e+07,1.352924e+07,1420570199,High
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8,14.0,3.475412e+06,3.475412e+06,427475777,High
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5,13.0,2.207251e+06,2.207251e+06,397305278,Medium
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8,12.0,6.119687e+06,6.119687e+06,1101543834,High
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2,11.0,8.413725e+04,8.413725e+04,22212498,Low
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3,10.0,8.888361e+06,8.888361e+06,1333254297,High
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8,8.5,5.850446e+06,5.850446e+06,877567097,High
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3,8.5,5.336810e+06,5.336810e+06,960625984,High
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5,3.328407e+06,3.328407e+06,1115016587,High
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5,3.328407e+06,3.328407e+06,1115016587,High
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2,5.0,3.284517e+06,3.284517e+06,755439048,High
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4,4.0,5.610488e+06,5.610488e+06,1374569755,High
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1,3.0,3.317341e+06,3.317341e+06,812748715,High
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6,1.5,3.244980e+06,3.244980e+06,665221028,High
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3,1.5,4.980744e+06,4.980744e+06,1070860145,High

In [23]:
Sort4 = stores.sort_values(by = ["OperatingCost","Total number of estb"],ascending=[True,False])
Sort4

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1

In [25]:
#Sort4.reset_index()

In [9]:
stores

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [69]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 15 to 19
Data columns (total 13 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Code                                    29 non-null     float64
 1   StoreType                               34 non-null     object
 2   OperatingCost                           34 non-null     float64
 3   Total_Sales                             34 non-null     int64
 4   Total_Customers                         34 non-null     int64
 5   Segment                                 34 non-null     int64
 6   Total number of estb                    34 non-null     int64
 7   Product line sales as % of total sales  34 non-null     float64
 8   Rank                                    34 non-null     float64
 9   sales_per_cust_11                       34 non-null     float64
 10  sales_per_cust1                         34 non-null     float64
 11  sales_per_cust_22                       34 non-null     int64
 12  stores_level                            34 non-null     object
dtypes: float64(6), int64(5), object(2)
memory usage: 3.7+ KB

In [59]:
## Drop column/feature

# df.drop(['feature1, feature2'], axis = 1) axis = 0/1
    # 0 - Row
    # 1 - Column

# Sort4.drop(['index'], axis=1)

In [70]:
### number of missing values

stores.isna().sum()

Code                                      5
StoreType                                 0
OperatingCost                             0
Total_Sales                               0
Total_Customers                           0
Segment                                   0
Total number of estb                      0
Product line sales as % of total sales    0
Rank                                      0
sales_per_cust_11                         0
sales_per_cust1                           0
sales_per_cust_22                         0
stores_level                              0
dtype: int64

In [71]:
stores.isnull().sum()

Code                                      5
StoreType                                 0
OperatingCost                             0
Total_Sales                               0
Total_Customers                           0
Segment                                   0
Total number of estb                      0
Product line sales as % of total sales    0
Rank                                      0
sales_per_cust_11                         0
sales_per_cust1                           0
sales_per_cust_22                         0
stores_level                              0
dtype: int64

In [72]:
#df = stores[ stores['Code'].notnull() ]

In [73]:
# s2 = stores[stores.Code.isnull()]
# s2

In [74]:
df1 = stores[ stores['Code'].notnull()    ]
df1

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank,sales_per_cust_11,sales_per_cust1,sales_per_cust_22,stores_level
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6,1.5,3.244980e+06,3.244980e+06,665221028,High
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1,3.0,3.317341e+06,3.317341e+06,812748715,High
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4,4.0,5.610488e+06,5.610488e+06,1374569755,High
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2,5.0,3.284517e+06,3.284517e+06,755439048,High
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5,3.328407e+06,3.328407e+06,1115016587,High
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5,3.328407e+06,3.328407e+06,1115016587,High
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3,8.5,5.336810e+06,5.336810e+06,960625984,High
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8,8.5,5.850446e+06,5.850446e+06,877567097,High
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2,11.0,8.413725e+04,8.413725e+04,22212498,Low
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8,12.0,6.119687e+06,6.119687e+06,1101543834,High
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5,13.0,2.207251e+06,2.207251e+06,397305278,Medium
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8,14.0,3.475412e+06,3.475412e+06,427475777,High
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5,15.0,1.352924e+07,1.352924e+07,1420570199,High
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1,17.5,4.380126e+06,4.380126e+06,766522254,High
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2,17.5,7.251891e+06,7.251891e+06,891982738,High
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2,19.0,2.247793e+06,2.247793e+06,393363985,Medium
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6,20.5,1.981341e+07,1.981341e+07,2179474742,High
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7,20.5,4.579115e+04,4.579115e+04,5037137,Low
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6,23.0,1.359958e+07,1.359958e+07,1495953658,High
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4,23.0,1.135142e+07,1.135142e+07,1237304513,High
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4,23.0,1.135142e+07,1.135142e+07,1237304513,High
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1,25.0,6.930467e+06,6.930467e+06,672255424,High
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3,26.5,1.245023e+07,1.245023e+07,1182772310,High
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9,26.5,1.545551e+07,1.545551e+07,1437362110,High
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9,28.0,1.764784e+07,1.764784e+07,1094166235,High
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0,30.0,1.665412e+07,1.665412e+07,1099172046,High
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4,31.5,1.851375e+07,1.851375e+07,962715299,High
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9,33.0,1.444721e+07,1.444721e+07,953515998,High
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1,34.0,1.015654e+07,1.015654e+07,660175285,High

In [75]:
df1.shape

(29, 13)

In [76]:
df2 = stores[ stores['Code'].isnull()    ]
df2

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank,sales_per_cust_11,sales_per_cust1,sales_per_cust_22,stores_level
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3,1.5,4.980744e+06,4.980744e+06,1070860145,High
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3,10.0,8.888361e+06,8.888361e+06,1333254297,High
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7,16.0,1.076184e+07,1.076184e+07,1883321757,High
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0,29.0,7.817312e+06,7.817312e+06,711375444,High
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4,31.5,7.846297e+06,7.846297e+06,886631723,High

In [8]:
## copy the df
stores1 = stores
stores1

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [78]:
### duplicated records

stores_duplicated = stores1.loc[stores1.duplicated(),]

stores_duplicated

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,Rank,sales_per_cust_11,sales_per_cust1,sales_per_cust_22,stores_level
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5,6.5,3.328407e+06,3.328407e+06,1115016587,High
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4,23.0,1.135142e+07,1.135142e+07,1237304513,High

In [79]:
# Drop duplicates

stores_1 = stores.drop_duplicates()

In [80]:
#stores = stores.drop_duplicates()

In [81]:
stores_duplicated = stores_1.loc[stores_1.duplicated(), ]
stores_duplicated

Empty DataFrame
Columns: [Code, StoreType, OperatingCost, Total_Sales, Total_Customers, Segment, Total number of estb, Product line sales as % of total sales, Rank, sales_per_cust_11, sales_per_cust1, sales_per_cust_22, stores_level]
Index: []

In [12]:
stores

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [13]:
stores.shape

(34, 8)

In [14]:
stores.columns

Index(['Code', 'StoreType', 'OperatingCost', 'Total_Sales', 'Total_Customers',
       'Segment', 'Total number of estb',
       'Product line sales as % of total sales'],
      dtype='object')

In [15]:
s1 = stores.drop('StoreType' , axis=1)
s1

,Code,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,21.0,2179474632,110,4,361300,29.6
1,2.0,21.0,5037027,110,4,2515,5.7
2,3.0,22.8,1437362017,93,1,200112,5.9
3,4.0,21.4,1495953548,110,1,229623,4.6
4,NaN,18.7,1883321582,175,2,270472,24.7
5,6.0,18.1,1420570094,105,1,176345,2.5
6,7.0,14.3,1374569510,245,4,176243,2.4
7,8.0,24.4,1094166173,62,2,147960,6.9
8,9.0,22.8,1182772215,95,2,193713,13.3
9,10.0,19.2,891982615,123,4,106941,4.2
10,11.0,17.8,427475654,123,4,34619,0.8
11,12.0,16.4,1101543654,180,3,161210,5.8
12,13.0,17.3,397305098,180,3,28056,1.5
13,14.0,15.2,960625804,180,3,67150,3.3
14,15.0,10.4,665220823,205,4,44954,5.6
15,NaN,10.4,1070859930,215,4,86686,1.3
16,17.0,14.7,755438818,230,4,66825,5.2
17,18.0,32.4,953515932,66,1,79578,2.9
18,19.0,30.4,962715247,52,2,92225,7.4
19,20.0,33.9,660175220,65,1,50812,4.1
20,21.0,21.5,672255327,97,1,53500,12.1
21,NaN,15.5,1333254147,150,2,168897,4.3
22,23.0,15.2,877566947,150,2,134880,5.8
23,24.0,13.3,812748470,245,4,81065,2.1
24,25.0,19.2,766522079,175,2,44545,1.1
25,26.0,27.3,1099171980,66,1,131837,3.0
26,NaN,26.0,711375353,91,2,57339,2.0
27,NaN,30.4,886631610,113,2,74480,5.4
28,29.0,15.8,22212234,264,4,4238,59.2
29,30.0,19.7,393363810,175,4,17840,4.2
30,31.0,15.0,1115016252,335,4,125658,7.5
31,32.0,21.4,1237304404,109,2,123206,6.4
32,31.0,15.0,1115016252,335,4,125658,7.5
33,32.0,21.4,1237304404,109,2,123206,6.4

In [16]:
s2 = stores.drop(['Code', 'StoreType', 'Total_Sales'] , axis=1)
s2

,OperatingCost,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,21.0,110,4,361300,29.6
1,21.0,110,4,2515,5.7
2,22.8,93,1,200112,5.9
3,21.4,110,1,229623,4.6
4,18.7,175,2,270472,24.7
5,18.1,105,1,176345,2.5
6,14.3,245,4,176243,2.4
7,24.4,62,2,147960,6.9
8,22.8,95,2,193713,13.3
9,19.2,123,4,106941,4.2
10,17.8,123,4,34619,0.8
11,16.4,180,3,161210,5.8
12,17.3,180,3,28056,1.5
13,15.2,180,3,67150,3.3
14,10.4,205,4,44954,5.6
15,10.4,215,4,86686,1.3
16,14.7,230,4,66825,5.2
17,32.4,66,1,79578,2.9
18,30.4,52,2,92225,7.4
19,33.9,65,1,50812,4.1
20,21.5,97,1,53500,12.1
21,15.5,150,2,168897,4.3
22,15.2,150,2,134880,5.8
23,13.3,245,4,81065,2.1
24,19.2,175,2,44545,1.1
25,27.3,66,1,131837,3.0
26,26.0,91,2,57339,2.0
27,30.4,113,2,74480,5.4
28,15.8,264,4,4238,59.2
29,19.7,175,4,17840,4.2
30,15.0,335,4,125658,7.5
31,21.4,109,2,123206,6.4
32,15.0,335,4,125658,7.5
33,21.4,109,2,123206,6.4

In [17]:
stores.isnull().sum()

Code                                      5
StoreType                                 0
OperatingCost                             0
Total_Sales                               0
Total_Customers                           0
Segment                                   0
Total number of estb                      0
Product line sales as % of total sales    0
dtype: int64

In [21]:
x1 = stores['Code'].median()
x1

17.0

In [22]:
stores['Code'] = stores['Code'].fillna(x1)

In [23]:
stores.isna().sum()

Code                                      0
StoreType                                 0
OperatingCost                             0
Total_Sales                               0
Total_Customers                           0
Segment                                   0
Total number of estb                      0
Product line sales as % of total sales    0
dtype: int64

In [24]:
stores

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,17.0,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,17.0,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,17.0,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,17.0,Super Market,26.0,711375353,91,2,57339,2.0
27,17.0,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [25]:
s4 = stores.drop([0,2] , axis=0)
s4

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,17.0,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,17.0,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,17.0,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,17.0,Super Market,26.0,711375353,91,2,57339,2.0
27,17.0,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [39]:
s5 = s4.reset_index().drop('index',axis=1)
s5

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,2.0,Apparel,21.0,5037027,110,4,2515,5.7
1,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
2,17.0,Super Market,18.7,1883321582,175,2,270472,24.7
3,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
4,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
5,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
6,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
7,10.0,Apparel,19.2,891982615,123,4,106941,4.2
8,11.0,Super Market,17.8,427475654,123,4,34619,0.8
9,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
10,13.0,Super Market,17.3,397305098,180,3,28056,1.5
11,14.0,Apparel,15.2,960625804,180,3,67150,3.3
12,15.0,Apparel,10.4,665220823,205,4,44954,5.6
13,17.0,Electronincs,10.4,1070859930,215,4,86686,1.3
14,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
15,18.0,Apparel,32.4,953515932,66,1,79578,2.9
16,19.0,Super Market,30.4,962715247,52,2,92225,7.4
17,20.0,Super Market,33.9,660175220,65,1,50812,4.1
18,21.0,Super Market,21.5,672255327,97,1,53500,12.1
19,17.0,Apparel,15.5,1333254147,150,2,168897,4.3
20,23.0,Apparel,15.2,877566947,150,2,134880,5.8
21,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
22,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
23,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
24,17.0,Super Market,26.0,711375353,91,2,57339,2.0
25,17.0,Super Market,30.4,886631610,113,2,74480,5.4
26,29.0,Super Market,15.8,22212234,264,4,4238,59.2
27,30.0,Apparel,19.7,393363810,175,4,17840,4.2
28,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
29,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4